/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.home .header {
  display: flex;
  width: 100%;
}
.home .header .nav-bar .nav-item {
  text-decoration: none;
  color: black;
}
.home .main-content .intro {
  padding-bottom: 2rem;
  border-bottom: 0.5rem dashed grey;
}
.home .main-content .content-pick {
  display: flex;
}
@media (min-width: 500px) {
  .home .header {
    flex-direction: column;
    border-bottom: 0.5rem dashed silver;
  }
  .home .header h1 {
    font-size: 7rem;
    text-align: center;
    margin: 2rem 0;
  }
  .home .header .nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  .home .header .nav-bar .nav-item {
    font-size: 2.5rem;
  }
  .home .main-content {
    margin: 0 2rem;
  }
  .home .main-content .intro > h2 {
    font-size: 4.4rem;
    margin: 3rem 0;
  }
  .home .main-content .intro > p {
    font-size: 1.4rem;
  }
  .home .main-content .activities {
    margin: 3rem 0;
  }
  .home .main-content .activities .activity-content {
    margin-bottom: 6rem;
  }
  .home .main-content .activities .activity-content .text-content {
    margin-bottom: 2rem;
  }
  .home .main-content .activities .activity-content .text-content h2 {
    font-size: 4.4rem;
    margin: 2rem 0;
  }
  .home .main-content .activities .activity-content .text-content p {
    font-size: 1.6rem;
  }
  .home .main-content .activities .activity-content .img-content {
    text-align: center;
  }
  .home .main-content .activities .activity-content .img-content img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .home .main-content .activities .activity-content:last-child {
    border-top: 0.5rem dashed grey;
    border-bottom: 0.5rem dashed grey;
    padding-bottom: 4rem;
  }
  .home .main-content .content-pick {
    flex-direction: column;
    margin: 0 6rem;
  }
  .home .main-content .content-pick .destination {
    margin-bottom: 4rem;
  }
  .home .main-content .content-pick .destination h4 {
    font-size: 3.8rem;
    margin: 2rem 0;
  }
  .home .main-content .content-pick .destination p {
    font-size: 1.6rem;
  }
  .home .main-content .content-pick .sign-up-btn {
    border: 1rem solid transparent;
    font-size: 3rem;
    color: white;
    background: darkcyan;
    border-radius: 3rem;
    text-align: center;
    padding: 1rem 3rem;
  }
  .home footer {
    width: 100%;
    border-top: 0.8rem dashed silver;
    background: #FFEBCD;
  }
  .home footer p {
    text-align: center;
    color: #212529;
    font-size: 1.6rem;
    padding: 20px;
  }
}
@media (min-width: 800px) {
  .home .header {
    flex-direction: row;
    align-items: center;
    border-bottom: 0.3rem dashed silver;
  }
  .home .header h1 {
    font-size: 4rem;
    flex: 1;
    text-align: left;
    margin-left: 4rem;
  }
  .home .header .nav-bar {
    display: flex;
    flex: 1;
    padding-right: 6rem;
  }
  .home .header .nav-bar .nav-item {
    font-size: 1.8rem;
  }
  .home .main-content {
    margin: 0 4rem;
  }
  .home .main-content .intro > h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .home .main-content .intro > p {
    font-size: 2rem;
  }
  .home .main-content .activities .activity-content {
    margin-bottom: 1rem;
    display: flex;
  }
  .home .main-content .activities .activity-content .text-content {
    flex: 1;
  }
  .home .main-content .activities .activity-content .img-content {
    flex: 1;
  }
  .home .main-content .activities .activity-content:nth-child(2) .text-content {
    order: 2;
    padding-left: 4rem;
  }
  .home .main-content .activities .activity-content:nth-child(2) .img-content {
    order: 1;
  }
  .home .main-content .activities .activity-content:nth-child(1) .text-content {
    order: 1;
    padding-right: 4rem;
  }
  .home .main-content .activities .activity-content:nth-child(1) .img-content {
    order: 2;
  }
  .home .main-content .activities .activity-content:last-child {
    flex-direction: column;
    padding: 0 7rem;
    border-top: 0.3rem dashed silver;
    border-bottom: 0.3rem dashed silver;
    padding-bottom: 3rem;
  }
  .home .main-content .content-pick {
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
  }
  .home .main-content .content-pick .destination {
    width: 28%;
  }
  .home .main-content .content-pick .destination h4 {
    font-size: 2.6rem;
  }
  .home .main-content .content-pick .destination .sign-up-btn {
    border: 1rem solid transparent;
    font-size: 1.8rem;
    color: white;
    background: darkcyan;
    border-radius: 1.8rem;
    text-align: center;
    padding: 1rem;
  }
  .home .footer {
    border-top: 0.3rem dashed silver;
    width: 100%;
    background: #FFEBCD;
  }
  .home .footer p {
    text-align: center;
    color: #212529;
    font-size: 1.6rem;
    padding: 20px;
  }
}
